img {
 padding-top: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
 padding-left: 20px;
 border: solid 2px gray;
 width: 100px;
 height: 100px;
 background-color: white;
}

body {
 background-color: azure;
 text-align: center;
}

button {
  margin: 20px 20px 0 0;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  font-size: 18px;
  background-color: aliceblue;
}
body {
  background-color: skyblue;
}

.photo {
 height: 100px;
 width: 200px;  
 border-radius: 30px;
}

.population {
 border: solid 5px plum;
}

.funFact {
 border: solid 5px green;
}

p {
 border-radius: 10px;
}

p {
 background-color: dimGray; 
 margin-top: 80px; 
 margin-left: 30px;
 margin-right: 30px;
 padding: 20px;
 
}

h3 {
 margin: 20px;
}

h1 {
  margin-top: 30px;
}

a {
 color: red;
}

img {
 margin: 40px;
 height: 40px;
 width: 150px;
}

body {
 background-color: black;
 color: white;
 text-align: center;
 font-family: "Verdana", sans-serif;
}

body {
  text-align: center;
}

h2 {
  background-color: aliceBlue;
  margin: 40px 30px 30px 30px;
  border-radius: 0 30px 30px 0;
}

img {
  background-color: lightBlue;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 5px 0 5px;
}

button {
  background-color: darkCyan;
  color: white;
  padding: 5px 15px 5px 15px;
  margin: 25px 0 0 0;
  border-radius: 0 30px 30px 0;
}

p {
  background-color: aliceBlue;
  padding: 5px 10px 5px 10px;
  margin: 30px 30px 0 30px;
  border-radius: 15px 0 15px 0;
}

h2 {
 margin: 40px 30px 30px 30px;
}

p {
 margin: 30px 30px 0 30px;
}

button {
 font-size: 18px;
 background-color: purple;
 color: white;
 border-radius: 30px;
 margin: 30px 0 0 0;
}

body {
 text-align: center;
}

img {
 border-radius: 10px;
}

p {
 border: solid 1px gray;
 background-color: lightSteelBlue;
 margin: 0px;
 font-size: 30px;
 padding: 30px 25px 15px 25px;
}

p {
 background-color: dimGray; 
 margin-top: 80px; 
 margin-left: 30px;
 margin-right: 30px;
 padding: 20px;
 
}

h3 {
 margin: 20px;
}

h1 {
  margin-top: 30px;
}

a {
 color: red;
}

img {
 margin: 40px;
 height: 40px;
 width: 150px;
}

body {
 background-color: black;
 color: white;
 text-align: center;
 font-family: "Verdana", sans-serif;
}

img {
 width: 100px;
 height: 100px;
 margin: 10px;
 border: solid olive;
 padding: 5px;
}

h2 {
 background-color: lightGray;
 margin: 10px;
 padding-top: 30px;
 padding-bottom: 10px;
 width: 250px;
 border: solid olive;
 text-align: center;
}

h2 {
 background-color: red;
 filter: grayscale(50%);
}

h3 {
 background-color: red;
}

h4 {
 filter: opacity(25%);
 background-color: red;
}

img {
 filter: brightness(100%);
 width: 150px;
} 

body {
 text-align: center;
}


h2 {
 background-color: aliceBlue;
 margin: 40px 30px 30px 30px;
 border-radius: 0 30px 30px 0;
}

img {
 background-color: lightBlue;
 width: 100px;
 padding: 10px;
 border-radius: 20px;
 margin: 10px 5px 0 5px; 
}

button {
 background-color: darkCyan;
 color:blue;
 padding: 5px 15px 5px 15px;
 margin: 25px 0 0 0;
 border-radius: 0 30px 30px 0;
}

p {
 background-color: aliceBlue;
 padding: 5px 10px 5px 10px;
 margin: 30px 30px 0 30px;
 border-radius: 15px 0 15px 0;
}

body {
 text-align: center;
 background-color: lightBlue;
}

h3 {
 font-family: Courier New;
 font-style: italic;
}

img {
 border-radius: 150px;
}

body {
 text-align: center;
 font-family: Monospace;
}

h2 {
 filter: blur(1px);
}

img {
 filter: grayscale(100%);
 margin: 20px 0 20px 0;
}

a {
 color:black;
 background-color: light;
 filter: opacity(60%);
}

p {
 background-color: lightGray;
 filter: opacity(40%);
}

button {
 margin-top: 30px;
 background-color: gold;
 font-weight: bold;
 font-size: 20px;
 padding: 10px;
 border: solid 1px black;
 filter: grayscale(80%);
}

a {
 background-color: lightGray;
 padding: 10px;
 border: solid 1px black;
 filter: opacity(50%);
}

body {
  background-color: slateGray;
  color: white;
  text-align: center;
}

img {
  margin: 10px 0 20px 0;
  border: solid 2px aliceBlue;
  filter: saturate(130%) brightness(110%);
}

div {
  border: 2px solid gray;
  font-size: 0;
}

button {
  width: 25%;
  height: 30px;
}

.clear {
  width: 50%;
  background-color: orange;
}

.submit {
  width: 50%;
  background-color: lightgreen;
}

p {
  text-align: right;
  font-size: 15px;
}

body {
 text-align: center;
}

.item {
 text-align: right;
 border: 1px solid brown;
 margin: 10px;
}

.itemName, .quantity, button {
 font-size: 20px;
 margin: 5px;
}

h2, #checkout {
 background-color: brown;
 color: white;
 padding: 10px;
}




div {
 height: 50px;
 margin: 0 auto;
}
.red {
 background-color: #ff0000;
 width: 30px;
}
.orange {
 background-color: #ffa500;
 width: 60px;
}
.yellow {
 background-color: #ffff00;
 width: 90px;
}
.green {
 background-color: #00ff00;
 width: 120px;
}
.blue {
 background-color: #0000ff;
 width: 150px;
}
.indigo {
 background-color: #4b0082;
 width: 180px;
}
.violet {
 background-color: #ee82ee;
 width: 210px;
}

body {
  background-color: #cccccc;
  text-align: center;
}

p {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

.red {
  background-color: #ff0000;
}

.white {
  background-color: #ffffff;
}

.green {
  background-color: #00bb00;
}

.yellow {
  background-color: #ffff00;
}

.blue {
  background-color: #0000ff;
}

.black {
  background-color: #000000;
}

.day {
 background-color: bisque;
 margin: 5px;
 padding: 10px;
 text-align: center;
}

.weekend {
 background-color: plum;
 font-style: italic;
}

.today {
 font-weight: bold;
 border: 2px solid gray;
}

.past {
 color: gray;
 background-color: lightgray;
}

.container {
 display: flex;
 flex-direction: column;
}

.copyright {
 display: flex;
 flex-direction: column;
 text-align: center;
}

h3 {
 text-align: center;
}

.item {
 padding: 15px;
 margin: 2px;
 background-color: #F3EBFE;
}

.mail {
 border: 2px solid gray;
 margin: 5px;
 padding: 5px;
}

.unread {
 background-color: purple;
 color: white;
 font-weight: bold;
}

.spam {
 color: coral;
 font-style: italic;
}

.container {
 display: flex;
 width: 100%;
 background-color: #DE9C51;
 color: #FFFFFF;
}

.item {
 padding: 8px;
}

h3 {
 text-align: center;
}

.container {
 height: 280px;
 width: 300px;
 background-color: lightBlue;
 display: flex; 
 flex-wrap: wrap;
 align-content: space-around;
 justify-content: space-around;
}

img {
 width: 100px;
 height: 100px;
 border: 2px solid #FFFFFF;
 margin: 5px;
}

.container {
 display: flex; 
 justify-content: center;
 flex-wrap: wrap-reverse;
}

img {
 width: 100px;
 height: 100px;
 border: 2px solid #B1E9FF;
}

h3 {
 text-align: center;
}

.container {
 height: 280px;
 width: 300px;
 background-color: lightBlue;
 display: flex; 
 flex-wrap: wrap;
 align-content: space-around;
 justify-content: space-around;
}

img {
 width: 100px;
 height: 100px;
 border: 2px solid #FFFFFF;
 margin: 5px;
}

body {
 text-align: center;
}

.pricing {
 border: 2px solid indigo;
 padding: 10px;
}

.header {
 font-size: 30px;
 background-color: indigo;
 color: white;
 margin: 0px;
}

.price {
 font-size: 25px;
}

.first {
  flex: 1 1 auto;
}

.second {
  flex: 0 0 100px;
}

.item {
  background-color: #bfdaf9;
  margin: 1px;
}

.container {
  border: solid 3px #bfdaf9;
  display: flex;
  width: 300px;
}

.sections {
  padding: 10px;
}

.content {
  background-color: #FBF4F0;
}

.menu {
  background-color: #D9E8FB;
}

a {
  display: inline-block;
  padding: 5px;
}

h3 {
  text-align: center;
}

.container {
  background-color: #DE9C51;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
}

.main {
  background-color: #FBF4F0;
  color: #994E21;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  padding: 8px;
}

.link.item {
  margin: auto;
}

h3 {
  text-align: center;
}

.grid-container {
 background-color: #E0F6FF;
 border: 1px dashed #1E96FF;
}

.grid-item {
 background-color: #1E96FF;
 color: #ffffff;
 text-align: center;
 margin: 2px;
}

.menu {
 background-color: #D9E8FB;
 flex: 0 0 80px;
}

.content {
 background-color: #FBF4F0;
 flex: 2 1 200px;
}

.section {
 padding: 10px;
}

.container {
 display: flex;
}

a {
 display: inline-block;
 padding: 5px;
}

h3 {
 text-align: center;
}

.grid-container {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(3, 1fr);
 background-color: #E0F6FF;
}

.item-1 {
 grid-column: span 2;
}

.item-2 {
 grid-column: span 1;
}

.grid-item {
 background-color: #1E96FF;
 color: #FFFFFF;
 padding: 20px;
 margin: 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  background: #E0F6FF;
  padding: 5px;
  justify-items: stretch;
}

.grid-item {
  background-color: #1E96FF;
  padding: 15px;
  text-align: center;
  color: #FFFFFF;
}